<div id="title">
	<div class="box title">
		Sign in
	</div>
</div>
<div id="sidebar">
	<div class="block">
		<p class="content message">
			<strong>Choose a service to use to sign in.</strong>
			We won't be posting or accessing your account there.
			This is just to make things easier.
		</p>
	</div>
	
	<%= render "common/sidebar_footer" %>
</div>
<div id="content">
	<ul class="sign-in">
		<li><a href="/auth/twitter/" class="ic-twitter">Sign in with <strong>Twitter</strong></a></li>
		<li><a href="/auth/facebook/" class="ic-facebook">Sign in with <strong>Facebook</strong></a></li>
        <li><a href="/auth/google_apps/" class="ic-google">Sign in with <strong>Google</strong></a></li>
        <li><a href="/auth/open_id/" class="ic-openid">Sign in with <strong>OpenID</strong></a></li>
	</ul>
</div>
