<%
	month_current = nil
%>
<div class="box title">Schedule</div>

<% unless @events.blank? %>
	<div class="schedule">
	<% @events.each_with_index do |event, i| %>
		
		<% if month_current.nil? or month_current != make_month_stamp(event.starts_at) %>
			<% if i != 0 %></div><% end %>
			<div class="month">
			<h2><%= event.starts_at.strftime("%B %Y") %></h2>
			<% month_current = make_month_stamp(event.starts_at) %>
		<% end %>
		
		<%= render( "event", { :event => event } ) %>
		
		<% if event === @events.last %>
			</div>
		<% end %>
		
	<% end %>
	</div>
<% end %>