<div class="block starred">
	<h1 class="box title">Starred</h1>
	<div class="content" id="starred-list">
			<% @events.each do |event| %>
				<%= render "event", { :event => event } %>
			<% end %>
	</div>
</div>