<div class="block footer">
	<div class="content">
		<p>Contact us at <a href="mailto:info@sc2events.com">info@sc2events.com</a></p>
		<p>Follow us at <a href="http://www.twitter.com/sc2events">Twitter (@sc2events)</a></p>
		<p>Like us at <a href="http://www.facebook.com/apps/application.php?id=138028809601345">Facebook</a></p>
	</div>
</div>