<div class="block footer">
	<div class="content">
		<p>Contact us at <a href="mailto:info@sc2events.com">info@sc2events.com</a></p>
		<p>Follow us at <a href="http://www.twitter.com/sc2events">Twitter (@sc2events)</a></p>
		<p>Like us at <a href="http://www.facebook.com/pages/StarCraft-2-Events/183968091650111?sk=wall">Facebook</a></p>
	</div>
</div>